requests==2.31.0
Flask==2.0.3
cachetools==5.3.1
#Flask dependencies
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Werkzeug==2.0.3
click==8.0.4
#Compatibility
importlib-metadata==4.8.3
zipp==3.6.0
#Audio
pygame==2.5.2